<% if (theme.reward.enable && (theme.reward.AliPayQR || theme.reward.WeChatQR || theme.reward.PayPalLink)) { %>
  <div style="padding: 10px 0; margin-left: 20px; width: 90%; text-align: center;">
    <div class="reward-content">
        <ul id="donateBox" class="list pos-a">
          <% if(theme.reward.PayPalLink){ %>
           <li id="PayPal"><a href="<%= theme.reward.PayPalLink %>" target="_blank" title="<%= __('reward.PayPal') %>"><%= __('reward.PayPal') %></a></li>
           <% } %> 
          <% if(theme.reward.AliPayQR){ %>
            <li id="AliPay" title="<%= __('reward.alipay') %>"><img data-img="<%= theme.reward.AliPayQR %>" onerror=this.onerror=null,this.src="<%= url_for(theme.lazyload.image) %>"></img></li>
           <% } %>    
          <% if(theme.reward.WeChatQR){ %>       
            <li id="WeChat" title="<%= __('reward.wechatpay') %>"><img date-img="<%= theme.reward.WeChatQR %>" onerror=this.onerror=null,this.src="<%= url_for(theme.lazyload.image) %>"></img></li>
           <% } %>           
          </ul>
        <div id="QRBox" class="pos-f left-100">
          <div id="MainBox"></div>
        </div>
    </div>
  </div>
  <% } %>