
<article id="post">
  <div class="post-title"><h1><%= post.title || '(no title)' %></h1></div>
  <div class="post-date">
        <span title="发表于 <%- date(post.date, theme.date_format) %>"><i class="far fa-calendar-alt" aria-hidden="true"></i> <%- date(post.date, theme.date_format) %></span>  |  
        <span title="更新于 <%- date(post.updated, theme.date_format) %>"><i class="fas fa-history" aria-hidden="true"></i> <%- date(post.updated, 'YYYY-MM-DD') %></span>
        <% if (post.top) { %>
        <span class="article-meta__separator"> | </span>
        <i class="fas fa-thumbtack article-meta__icon sticky"></i>
        <span class="sticky">置顶</span>
        <% } %>
  </div>
  <br>
  <div class="content">
      <div><%-page.content%></div>

      <div class="post-copyright">
      <% if(theme.copyright.enable){ %>
                <div class="copyright-item">
                    <span> <%= __('Author') %>: <%- config.author %></span>
                </div>
                <div class="copyright-item">
                    <span> <%= __('Link') %>: <a href="<%- page.permalink %>"><%- page.permalink %></a></span>
                </div>
                <div class="copyright-item">
                    <span> <%= __('License') %>: <%- theme.copyright.license_text %></span>
                </div>
      <% } %>
      </div>
</div>
    <div class="tags-back">
      <div class="tags">
        <% post.tags.each(function(tag){%>
          <i class="fas fa-tags" aria-hidden="true"></i> <a href="<%- url_for(tag.path) %>" class="tag"><%= tag.name %></a>
        <% }) %>
      </div>
      <div class="back">
        <a href="javascript:window.history.back();"><i class="fa fa-reply" aria-hidden="true"></i> back</a>
        <span>· </span>
        <a href="<%- config.root %>"><i class="fa fa-home" aria-hidden="true"></i> home</a>
      </div>


      <hr>
      <div class="post-nav">
        <% if (post.prev){ %>
        <div class="post-nav-prev post-nav-item">
            <a href="<%- url_for(post.prev.path) %>" ><%= post.prev.title %><i class="fa fa-chevron-left"></i></a>
        </div>
        <% } %>
        <% if (post.next){ %>
        <div class="post-nav-next post-nav-item">
            <a href="<%- url_for(post.next.path) %>" ><%= post.next.title %><i class="fa fa-chevron-right"></i></a>
        </div>
        <% } %>
      </div>
      <div class="comments">
        <%- partial('partial/comments') %>
      </div>
</article>