
<script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script> 
<div class="nav index" style="height: 60px;">
    <div class="title animated fadeInDown">
        <div class="layui-container"> 
        <% if(theme.logo.enable){ %>
            <div class="nav-logo"> <a href="<%- url_for(theme.logo.url) %>" title="<%= (theme.logo.title) %>"><i class="<%= (theme.logo.icon) %>" style="font-size: 36px;"></i></a> </div>
         <% } %>
        <div class="nav-list">
            <button> <span class=""></span><span style="display: block;"></span><span class=""></span> </button>
            <ul class="layui-nav" lay-filter="">
            <% for (var name in theme.menu){ %>
            <li class="layui-nav-item">
                <a href="<%- url_for(theme.menu[name].path) %>">
                    <i class="<%= theme.menu[name].fa %>" aria-hidden="true"></i>
                    <%- __(name) %>
                </a>
            </li>
            <% } %>
            <li class="layui-nav-item">
            <% if (theme.todark.enable){ %>
                <div id="dark" onclick="switchDarkMode()"></div>   
                <script>
                    if(localStorage.getItem('dark') === '1') {
                        document.body.classList.add('dark');
                    }
                    document.getElementById('dark').innerHTML = document.querySelector("body").classList.contains("dark")?"🌙":"🌞";
                </script>
            <% } %>  
            </li>  
            <span class="layui-nav-bar" style="left: 342px; top: 78px; width: 0px; opacity: 0;"></span>
            </ul>
        </div>
        </div>
    </div>
</div>


